<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="annaManager" class="com.persional.spring.manager.AnnaManager">
        <property name="bobManager" ref="bobManager" />
    </bean>

    <bean id="bobManager" class="com.persional.spring.manager.BobManager">
        <property name="annaManager" ref="annaManager" />
    </bean>

</beans>